nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  z-index: 1080;
  color: #FFFF;
  background-color: transparent;
  padding: 1em;
  font-family: 'Bungee', sans-serif;
}

nav button {
  background-color: rgb(36, 33, 33);
  color: blue;
  float: right;
  border: 0;
}

nav button:hover {
  box-shadow: 10px 5px 5px Black;
}