main section {
  position: relative;
  padding: 2em;
  color: white;
}

main .new-tweet {
  display: none;
}

main section form textarea {
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  border-bottom: 4px solid;
  margin-bottom: 10px;
  height: 2em;
  width: 100%;
  resize: none;
}

.red {
  color: red;
}

.error-output {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 18px;
}

.noText {
  display: none
}

.overLimit {
  display: none
}

main .new-tweet form span {
  position: relative;
  float: right;
  font-family: 'Bungee', sans-serif;
}

main .new-tweet form input {
  font-family: 'Bungee', sans-serif;
  background: blue;
  color: white;
  border: 0;
}

main .new-tweet form input:hover {
  box-shadow: 10px 5px 5px black;
}