.old-tweets article {
  padding: 1em;
  border: solid;
  margin-bottom: 1em;
}

.old-tweets article:hover .username{
  color: gray;
}

.old-tweets article:hover footer .socials {
  color: gray;
}

.old-tweets article:hover {
  box-shadow: 10px 5px 5px Black;
}

.old-tweets header .username {
  float: right;
  color: transparent;
}

.old-tweets header .name {
  position: relative;
  top: -1em;
}
.old-tweets footer .socials {
  color: transparent;
  float: right;
}

.old-tweets article p {
  border: 0;
  border-bottom: 2px solid;
}

.old-tweets footer {
  font-size: 12px;
}